name: Build Container

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  example:
    name: Terragrunt interaction
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: terraform version
        run: |
          terragrunt --version 
          terraform -version
      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@v1.1.0
        with:
          terragrunt_version: latest
      - name: Interact with Terragrunt
        run: |
          terragrunt --version 
          terraform -version
      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@v1.1.0
        with:
          terragrunt_version: latest

      - name: Install tfswitch
        run: |
          sudo curl -O https://raw.githubusercontent.com/warrensbox/terraform-switcher/release/install.sh
          sudo chmod +x install.sh
          sudo ./install.sh
      - name: Set required Terraform version
        run: |
          terraform_version=1.2.2
          echo "Switching to Terraform version: $terraform_version"
          tfswitch $terraform_version
          terraform -version
